<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> <!-- Кодування символів -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Адаптація до екранів -->
    <title>Reset password email</title> <!-- Назва вкладки -->
</head>

<body>
    <!-- Виводимо привітання з ім’ям користувача, яке буде підставлене у {{name}} -->
    <h1 style="color: blue;">Hello, {{name}}!</h1>

    <!-- Посилання для скидання паролю з підставленим токеном у {{link}} -->
    <p>Click <a href="{{link}}">here</a> to reset your password!</p>
</body>

</html>